{{/* Layout: Homepage */}}
{{/* 
  Main homepage template with hero, services, recent posts, and contact sections.
  Extends baseof.html
*/}}
{{ define "title" }}Home{{ end }}

{{ define "main" }}
  {{ if .Site.Params.enableHero }}
    {{ partial "hero.html" . }}
  {{ end }}
  
  {{ if .Site.Params.enableServices }}
    {{ partial "services.html" . }}
  {{ end }}
  
  {{ if .Site.Params.enableRecentPosts }}
    {{ partial "recent-posts.html" . }}
  {{ end }}
  
  {{ if .Site.Params.enableContact }}
    {{ partial "contact.html" . }}
  {{ end }}
{{ end }}